[2022-01-10 16:35] johnsBeharry opened #1 "Create tailwind.config using new style guide"
The style guide is still a work in progress but would be good to start setting up a tailwind config that can be used in the extension and website since we're trying to unify marketing and ui styles.

https://www.figma.com/file/9I92FQLYrH43998ZjAzcgW/Alby-Styleguide?node-id=0%3A1

[2022-01-19 10:59] MoritzKa opened #14 "Various for the tipping landing page"
It already looks really good. Some minor things:
- remove "Add to Chrome" Buttons
- align text and picture column
- keep headers (Twitter, YouTube, etc.) but decrease font size of the sub-headers and descriptions:  1) Add... 2) Verify ...
- add some space between BitcoinTV and the dark section
- decrease size of dark section slightly
- decrease space below Twitter, Telegram and Github icons.

[2022-01-20 11:26] MoritzKa opened #17 "Screenshot and text differ on the lightning address landing page"
<meta name="lightning" content="you@lightning.address"/> does not yet fit to the screenshot.

What could be a minimal viable standard for this meta tag?

[2022-01-20 12:13] Tiana01 opened #18 "Wrong / old design was implemented"
I noticed that the design that was implemented still had those sections ("receiving payments on existing platforms" and "receiving payments made simple") separate, whereas in the new design they were combined into one section. The reason for it is that they both convey the same message, hence feel a bit repeated

![Frame 2480](https://user-images.githubusercontent.com/40744535/150336650-cbbac506-b

[2022-01-20 12:21] Tiana01 opened #19 "Blurry illustrations / Icons"
I noticed that some of the illustrations and icons used were blurry perhaps because they were exported as png rather than svg?
<img width="1437" alt="Screenshot 2022-01-20 at 13 04 20" src="https://user-images.githubusercontent.com/40744535/150337464-0ac0c511-e7e4-4ada-903e-d2aed08c345d.png">

[2022-01-20 12:27] Tiana01 opened #20 "Different style from the new design"
The footer, the section before that and the section right after the header have a different style from the new design

<img width="1433" alt="Screenshot 2022-01-20 at 13 22 18" src="https://user-images.githubusercontent.com/40744535/150338272-79507988-0b2e-467a-be1e-caff91482926.png">
<img width="1418" alt="Screenshot 2022-01-20 at 13 22 23" src="https://user-images.githubusercontent.com/40744535/

[2022-01-20 12:29] Tiana01 opened #21 "Numbering error"
1,2,2

<img width="1393" alt="Screenshot 2022-01-20 at 13 21 53" src="https://user-images.githubusercontent.com/40744535/150338776-e7ee3487-760f-48a3-b1e7-617fc5da65be.png">

[2022-01-20 12:32] Tiana01 opened #22 "Spacing Issues"
There seems to be a lot of white space around some of the text in various sections. Although this may be a design issue, I'll fix this and communicate with the devs

<img width="1367" alt="Screenshot 2022-01-20 at 13 30 25" src="https://user-images.githubusercontent.com/40744535/150339294-b33a6fc2-1113-4bd0-9570-459e4a6da1b3.png">
<img width="1436" alt="Screenshot 2022-01-20 at 13 04 35" src="http

[2022-01-20 12:42] Tiana01 opened #23 "CTA on the header section"
The add to chrome button under the text isn't supposed to be there

<img width="1435" alt="Screenshot 2022-01-20 at 13 39 10" src="https://user-images.githubusercontent.com/40744535/150340545-4ed1cd55-f849-4d42-be01-fd564917bf4c.png">

[2022-01-21 10:25] bumi commented on #17
@MoritzKa what does this mean?
Even though it might be duplicate for you and clear for you what differs best add what it should be in the issue.
also for example if we talk about "does not yet fit to the screenshot" in the issue we should remind ourselfs to mention which screenshot (link) we talk about.

[2022-01-21 10:35] MoritzKa commented on #17
It is a question and a reminder of an open issue. But I should be more precise, yes. It is about the screenshot of the HTML code, that does not fit to the listed steps next to it. (Section: Own Website).
I cannot say what has to be changed as we haven't come to decision here, have we?

[2022-01-21 11:46] bumi commented on #17
ah I see. ok. thanks.

[2022-01-22 08:16] MoritzKa opened #25 "minor issues for the tipping landing page"
- remove the space between a word and ":" . for example YouTube channe**l:** ⚡you@lightning.address
- change the button from "Label" to "Learn more"

[2022-01-24 07:48] #23 closed

[2022-01-24 07:48] #22 closed

[2022-01-24 07:48] #21 closed

[2022-01-24 07:49] #19 closed

[2022-01-24 07:49] #18 closed

[2022-01-24 07:49] #20 closed

[2022-01-24 07:51] #14 closed

[2022-01-24 08:47] Tiana01 opened #26 "Button naming"
this is named "label" should be "learn more"
<img width="1435" alt="Screenshot 2022-01-24 at 09 11 59" src="https://user-images.githubusercontent.com/40744535/150750251-568d5736-8d8f-4509-ae53-11f3fadb2dce.png">

Also, let's rename "add to chrome" to "install alby" as it is more general and will work on various browsers
<img width="859" alt="Screenshot 2022-01-24 at 10 04 41" src="https://user-ima

[2022-01-24 08:59] Tiana01 opened #27 "text not center-aligned"
The text doesn't seem center-aligned with the number circle. This applies to all the sections that have these numbers and text. Also is the right font-size for these sections being used? seems a lot smaller than what is in the design?
<img width="1392" alt="Screenshot 2022-01-24 at 09 43 02" src="https://user-images.githubusercontent.com/40744535/150750846-b4759a27-2125-4d3b-a73d-b811410b69de.png"

[2022-01-24 09:02] Tiana01 opened #28 "Blurry parts of the illustration (design issue)"
Headers of the illustrations are still blurry but i believe it's because it's a png within the svg. I will fix this asap
<img width="504" alt="Screenshot 2022-01-24 at 09 43 02" src="https://user-images.githubusercontent.com/40744535/150752352-c002a0ea-f17f-42f3-9652-6645bfa1931a.png">

[2022-01-24 09:32] Tiana01 commented on #28
I've fixed this in the design, it should look better when exported again

[2022-01-24 12:25] bumi opened #29 "Integrate current website"
This repository will be the new static website for anything on getalby.com
So we need to move the tipping page (currently implemented here) to `/value4value` and reimplement the [current website](https://getalby.com/) on the root level `/`. (using the new tailwind setup)

[2022-01-24 15:40] secondl1ght commented on #27
Update: It looks like someone fixed this issue.

[2022-01-24 15:47] secondl1ght commented on #25
I have updated these now so I will close this issue.

[2022-01-24 15:47] #25 closed

[2022-01-24 15:52] secondl1ght commented on #28
I can update these images, how do I export them from Figma though? Sorry I have not used Figma much.

[2022-01-24 15:55] Tiana01 commented on #28
here..please export as svg
<img width="1160" alt="Screenshot 2022-01-24 at 16 53 17" src="https://user-images.githubusercontent.com/40744535/150817164-06d31199-284b-414e-93af-4eab35ae6491.png">

[2022-01-24 16:12] secondl1ght commented on #28
It looks like these images are already SVGs so someone already did this, can you check and see if it looks the way you want now?

[2022-01-24 16:18] Tiana01 commented on #27
is there a new link to view because it still looks the same on my end

[2022-01-24 16:19] Tiana01 commented on #28
is there a new link to view because it still looks the same on my end

[2022-01-24 17:02] secondl1ght commented on #27
Should be updated here: https://alby-website.netlify.app/

[2022-01-24 17:03] secondl1ght commented on #28
https://alby-website.netlify.app/

[2022-01-24 17:04] secondl1ght commented on #28
Still looks a bit blurry for some reason...

[2022-01-26 07:35] #26 closed

[2022-01-26 10:36] Tiana01 opened #33 "Mobile view - No shadow on illustrations"
All the illustrations like the one below do not have shadows and are blending into the page
![IMG_0669](https://user-images.githubusercontent.com/40744535/151148028-e621f6ac-01fe-4e5a-b595-99f8328dd63c.PNG)

[2022-01-26 10:37] Tiana01 opened #34 "Mobile view - Spacing"
There's supposed to be space between these...in the design it's about 8px
![IMG_0670](https://user-images.githubusercontent.com/40744535/151148207-8ace99da-0b12-43a2-a8cf-6f01bc5b213e.jpg)

this section looks a bit tight, I've updated this in the design
![IMG_0672](https://user-images.githubusercontent.com/40744535/151148993-f8c258a6-c570-451d-b2a9-561f35f72776.PNG)

[2022-01-26 10:41] Tiana01 opened #35 "Mobile view - Blurry / unclear illustrations"
![IMG_0668](https://user-images.githubusercontent.com/40744535/151148487-85f5839f-dc5d-451e-bf7d-464547e57696.PNG)
![IMG_0673](https://user-images.githubusercontent.com/40744535/151148829-00fbf091-fb66-42a9-a1a4-d8ed987eceba.PNG)

[2022-01-26 10:45] Tiana01 opened #36 "Mobile view - Wrong illustration"
This isn't the illustration for the bitcoin tv section. updated in the deisgn
![IMG_0671](https://user-images.githubusercontent.com/40744535/151149378-2347dbb4-88b9-41c3-a465-a5b63cb53bc7.PNG)

[2022-01-26 10:54] Tiana01 opened #37 "font size issue"
<img width="1282" alt="Screenshot 2022-01-26 at 10 56 49" src="https://user-images.githubusercontent.com/40744535/151150426-526e9ac6-355e-4213-8f3f-48b6696c5bfa.png">

here's what is used in the design.

text-4xl/leading-10/font-black (Title)
text-3xl/leading-9/font-semibold ( Subtitle)
text-2xl/leaading-8/font-normal (body)

[2022-01-27 17:08] Morrism1 commented on #33
@Tiana01 most of the issues are solved in this PR https://deploy-preview-38--alby-website.netlify.app/ but We have an issue on BitcoinTv illustration as seems to have a default white background that looks bad when we add a shadow on mobile.
![Screenshot 2022-01-27 185835](https://user-images.githubusercontent.com/46853433/151408130-15e53d48-bce7-47dc-a3c2-5eabc46db997.png)

[2022-01-27 17:58] Tiana01 commented on #33
not sure why that is happening, it doesn't have any extra background in the design ... is it possible to use the illustration on the web view and resize it for mobile?

[2022-01-28 10:03] MoritzKa opened #39 "White box around BitcoinTV picture"
On smaller screens a white box around the Bitcoin TV picture appears.
Can we remove it so that it looks the same as the other screenshots from YouTube or Twitter?
![image](https://user-images.githubusercontent.com/13707997/151527357-2e19039d-82e3-4abb-a150-253dc1af1706.png)

[2022-01-28 12:14] #39 closed

[2022-01-28 12:15] #28 closed

[2022-01-28 12:15] #27 closed

[2022-01-28 12:21] #37 closed

[2022-01-28 12:21] #36 closed

[2022-01-28 12:22] #35 closed

[2022-01-28 12:34] #34 closed

[2022-02-01 09:44] Tiana01 commented on #33
@Morrism1 can you try exporting all the illustrations on the mobile view again to SVG. I think I've figured out the issue with them

[2022-02-01 18:37] secondl1ght opened #43 "Buttons need to be hooked up"
Currently the 'Learn more', 'Try it now' and 'Install Alby' buttons are not hooked up. Where should each of these be directed to?

[2022-02-02 22:11] bumi commented on #43
* the Alby logo should link to `/`
* install Alby should link to the app store entry of the current browser (similar to the "Add to ...") on the homepage. This imo should be the exact same buttin/component as on the homepage
* Try it now should link to `/` imo
* Learn more in the lightning address section should link to `/lightning-address` - this will be served from the rails application

[2022-02-02 22:11] bumi opened #44 "Add favicon"

[2022-02-02 22:12] bumi opened #45 "Add privacy policy content"
Content: https://getalby.com/privacy-policy

[2022-02-02 22:14] bumi opened #46 "Make sure all social links have proper links everywhere"
Telegram, GitHub, Twitter,...

[2022-02-02 22:16] bumi opened #47 "Website title"
"Alby - Bitcoin Lightning Wallet for your browser"

[2022-02-02 22:17] bumi opened #48 "Review SEO and metatags"
Do we have all relevant meta tags set? open graph tags, etc.?

We need to check this for all pages `/` and `/value4value`

[2022-02-02 22:21] #29 closed

[2022-02-02 22:25] bumi opened #49 "Black or white hero text?"
<img width="716" alt="image" src="https://user-images.githubusercontent.com/318/152247818-003b832e-5fc2-4e2c-a48a-5bdd45a5fa56.png">
vs.
<img width="585" alt="image" src="https://user-images.githubusercontent.com/318/152247863-0bfef574-70e7-41ef-b586-a812b06c9e01.png">

[2022-02-02 22:28] bumi opened #50 "Update Alby screen on value4value"
<img width="324" alt="image" src="https://user-images.githubusercontent.com/318/152247979-c0064b10-e6e8-4cf9-9231-af73a7797e6a.png">

the screen changed a bit and we do not have the slider anymore but now use buttons:

<img width="500" alt="image" src="https://user-images.githubusercontent.com/318/152248240-c160c432-10f2-496d-8e27-6c3395e91326.png">

[2022-02-02 22:41] bumi opened #51 "Remove duplicate logo.svg and twitter.svg"
We have images with the same name but lower/uppercase.
All files must be lower case!

warning: the following paths have collided (e.g. case-sensitive paths
on a case-insensitive filesystem) and only one from the same
colliding group is in the working tree:

  'public/images/Logo.svg'
  'public/images/logo.svg'
  'public/images/Twitter.svg'
  'public/images/twitter.svg'

[2022-02-03 04:49] secondl1ght commented on #43
Ok I have added all of these except for the 'Add to...' that one still needs to be done.

[2022-02-03 04:59] secondl1ght commented on #44
I added the favicon into the public directory, and I added it to the `links` component in the root.jsx file but it still was not showing up. Is there somewhere else it goes?

[2022-02-03 05:09] secondl1ght commented on #46
I finished setting up the rest of these.

[2022-02-03 05:09] #46 closed

[2022-02-03 05:10] secondl1ght commented on #47
This is now updated.

[2022-02-03 05:10] #47 closed

[2022-02-03 05:10] secondl1ght commented on #49
My vote is for black

[2022-02-03 05:17] secondl1ght commented on #51
It doesn't look like logo.svg was being used so I deleted it and renamed Logo.svg to logo.svg.

For Twitter.svg I renamed it to twitter-logo.svg.

For each of these I also updated the import filepaths after changing the names.

I think we should be good now!

[2022-02-03 05:17] #51 closed

[2022-02-03 09:36] bumi opened #52 "Convert tabs to spaces"
we should use spaces (2 spaces) as indentation

[2022-02-03 10:45] bumi opened #53 "Fix linting errors"
https://github.com/getAlby/website/runs/5047448205?check_suite_focus=true#step:4:5

[2022-02-04 08:02] MoritzKa commented on #33
Did we come a bit closer to a solution on this issue?

[2022-02-04 08:32] Morrism1 commented on #33
Yeah, I have seen what was the problem. Using a shadow instead of a filter with drop-shadow on svgs which was making them look different as in the mockup

[2022-02-04 13:22] bumi opened #55 "nice 404 page"

[2022-02-04 21:13] #33 closed

[2022-02-04 21:43] #53 closed

[2022-02-05 01:10] #52 closed

[2022-02-05 01:11] Morrism1 commented on #49
I went black. You can check it out and tell me!

[2022-02-05 01:12] #44 closed

[2022-02-05 01:14] Morrism1 commented on #55
Any reference to 404 page. We can build?

[2022-02-05 13:13] #49 closed

[2022-02-05 13:13] #43 closed

[2022-02-05 17:17] #45 closed

[2022-02-06 11:23] MoritzKa commented on #17
![image](https://user-images.githubusercontent.com/13707997/152678474-235ca0d1-2275-4bd1-83c9-882ab637bf2b.png)
Could we align the description and the screenshot?

[2022-02-06 12:48] bumi opened #62 "Check if the user has installed Alby and show something nice and not the install button"
### Ideas

* add an similar "do it" error pointing to the extension where people can send tips

[2022-02-06 15:10] bumi opened #63 "Show link to login area"

[2022-02-07 01:15] secondl1ght commented on #63
Do you know where you would like the link to be on the page?

[2022-02-07 01:27] secondl1ght opened #64 "Add value4value link"
Do we want a link to this page somewhere, if so where should we put it?

[2022-02-07 09:09] bumi commented on #63
nope. ideas?

[2022-02-07 13:07] secondl1ght commented on #63
Ill do something up and post it here.

[2022-02-07 14:58] secondl1ght opened #65 "Update README"
We should update the README to remove some of the default Remix text.

[2022-02-07 15:53] secondl1ght commented on #63
I added a Login and Learn More (value4value) button to the navbar, I also removed the Add to Chrome button because it started to look crowded and don't know that we need it on the page twice. I put this in a new branch called 'add-links'. Here are screenshots, let me know what you think. Also we will need to change the Login button to Logout if a user is already logged in, do you know what variabl

[2022-02-07 15:54] secondl1ght commented on #63
Mobile view:

![image](https://user-images.githubusercontent.com/85003930/152823366-e5657272-229f-4ac6-a013-f9cd5b1d2e88.png)

[2022-02-07 15:54] secondl1ght commented on #64
Discussion on this happening in #63

[2022-02-08 06:48] secondl1ght commented on #63
I changed the button order because I think it makes more sense to have the Login on the right:
![image](https://user-images.githubusercontent.com/85003930/152933244-babbce42-ac5f-413d-8e27-b155977871af.png)

[2022-02-08 06:49] secondl1ght commented on #63
I'll put in a PR for this so we can discuss more.

[2022-02-09 10:02] MoritzKa opened #69 "Align screenshot sizes"
The Screenshot of the BitcoinTV section is smaller than other screenshots.
Can we increase the size of the BitcoinTV screenshot?
![image](https://user-images.githubusercontent.com/13707997/153174527-67d999f1-4445-4a90-a1f0-4ec986453b4c.png)

[2022-02-09 11:01] MoritzKa opened #70 "Review Typos"
Twtter --> Twitter
![image](https://user-images.githubusercontent.com/13707997/153185057-b3a7302a-c208-4cf3-b8a7-89bf09176a40.png)

youre.blog --> your.blog
![image](https://user-images.githubusercontent.com/13707997/153185131-78635aaf-6a96-4cbe-98a3-efb861657401.png)

[2022-02-09 13:26] bumi commented on #17
I've updated the text that it matches the screenshot.
both options currently work.

the initial idea was to follow some existing spec like the [openalias](https://openalias.org/) spec to do that and to also be able to provide more details like for example a name or a description.
Or also support bolt12 in the future or just bolt11 invoices.

that would then be  bolt12:... instead of lnulrp:

[2022-02-09 14:19] Tiana01 opened #71 "Smaller illustration"
this illustration is smaller than the others used
<img width="1301" alt="Screenshot 2022-02-09 at 13 46 46" src="https://user-images.githubusercontent.com/40744535/153219612-3292b868-15b6-4e0a-8c9b-4b392bade870.png">

[2022-02-09 16:26] secondl1ght commented on #69
While we are fixing this do we want to make that screenshot in light mode? Currently it is the only one in dark mode.

[2022-02-09 16:29] secondl1ght commented on #70
Looks like @bumi fixed these so closing now.

[2022-02-09 16:29] #70 closed

[2022-02-10 21:30] bumi commented on #63
thanks @secondl1ght to tackle this...
@Tiana01 what do you think about this? how do we best setup such navigation?

[2022-02-10 21:45] bumi commented on #62
@Tiana01 do you maybe have ideas what we could show and offer users who already have the extension installed?
I think this would be really nice and also shows how websites could react if Alby is installed.
@secondl1ght what do you think? maybe you could help with the brainstorming and then dev?

[2022-02-10 22:05] bumi commented on #63
thanks for sharing. good point about the social media links.
the value4value link is the tipping website you made (currently that's deployed under https://getalby.com/value4value )

so until we have those navigation links (features, about, etc.) filled we should make the tipping page a top level navigation entry?

[2022-02-10 23:46] secondl1ght commented on #63
I agree we can remove the duplicate social links. We need a button somewhere to lead to the value4value page, otherwise nobody will know it exists so we added it for no reason. I just called it 'Learn more' but we can rename it whatever everyone likes.

I will make the updates to the 'Login' and 'Install Alby' buttons and also remove the social links in my PR #67. Also @bumi do you know what `vari

[2022-02-11 00:13] secondl1ght commented on #63
Ok I made some changes, here's how it looks currently:

![image](https://user-images.githubusercontent.com/85003930/153518400-46567426-ea0f-49ae-97a3-1b4e68b13d0f.png)

Let me know what you guys think!

[2022-02-11 08:57] Tiana01 commented on #63
We can have this. I don't think it is ideal to have 3 buttons in the navigation. There has to be some visual hierarchy, hence we can have the other one as a text as I've shown below

@bumi @secondl1ght also is "value4value" a phrase something that is commonly known and that you expect the users of this platform to understand without confusion? if it is then it's fine, if not, I believe we call it

[2022-02-11 08:59] Tiana01 commented on #63
@secondl1ght you could also refer to the Figma file with the designs worked on to ensure that the design implementation matches the design in style, font size etc

[2022-02-11 09:24] bumi commented on #63
Value4Value is a known term or a term that is getting more popular. it typically comes from the podcasting world, but also with Alby it will spread to more digital content worlds: http://value4value.io/

//cc tagging @MoritzKa that he can follow and comment

[2022-02-11 12:02] bumi commented on #62
not sure about an explore button... but my thought was IF a user already has Alby installed, we do not need to show the install button, we then can show something different (not sure exactly what, that's a question).
<img width="761" alt="image" src="https://user-images.githubusercontent.com/318/153588137-6b74bc1b-3871-4b66-abbc-e863c399d706.png">

[2022-02-11 12:39] Tiana01 commented on #62
to this, I guess I could ask if it really matters if the install button remains there even though it is installed already?

Like how we have download buttons on websites where you've already downloaded the software etc

this may not be a perfect example but here even after the extension in installed, it still see this
<img width="1126" alt="Screenshot 2022-02-11 at 13 34 46" src="https://user-imag

[2022-02-11 13:19] bumi commented on #62
I don't know. was just an idea and I thought it could be a nice detail.
but sure no idea if it matters :)

[2022-02-11 15:08] secondl1ght commented on #63
How's this? I can merge these changes if everyone likes them:

[2022-02-11 15:11] secondl1ght commented on #62
'Thanks for using Alby!'

[2022-02-14 04:27] #64 closed

[2022-02-14 04:28] secondl1ght commented on #63
Ok I have merged the PR making this the new look for the top navbar, so I will close this issue now. Any feedback once it is live please create a new issue.

[2022-02-14 04:28] #63 closed

[2022-02-14 04:33] secondl1ght commented on #65
I updated the title, not sure if we want to remove anything else? I only ever use the Development steps myself.

[2022-02-15 21:17] MoritzKa opened #73 "Change to "How to receive contributions on Twitter""
Change from "How to receive contributions on your website" to "How to receive contributions on Twitter"
![image](https://user-images.githubusercontent.com/13707997/154150543-6b12b869-8530-43b4-bac0-7c5d592129c5.png)

[2022-02-16 23:20] bumi opened #74 "Setup some basic analytics?"
It might be helpful to know the amount of users and what people access on our page
So at some point we need to do some privacy preserving analytics to learn from our users.
maybe https://plausible.io/ is a way to go?

[2022-02-17 12:59] RajVarsani opened #75 "Update styling for home page"
On the current site, content gets farther away for larger screens, making UI a bit uncomfortable and confusing for users.

![image](https://user-images.githubusercontent.com/74860406/154485933-57534ae1-c044-4f77-83b1-a3b497a926f7.png)

It can be changed to something similar to this.

![image](https://user-images.githubusercontent.com/74860406/154486423-7ee684be-9ae2-4c87-8d4f-bf11074f69cf.png)

[2022-02-18 12:44] pavanjoshi914 opened #77 "Enhancement: "Login with Alby" button doesnt work for the current session, after first attempt of login via email and password fails"
## Describe the bug
At the login page of https://getalby.com/login we are providing two ways to authenticate.
1. ``` Login with Alby``` button
2.  manual login via email and password.

a. for the first time
Either we can login using button or using email or password, both work fine
b. Login with email and password  with wrong credentials
Now  try to click on  "Login with Alby" button in current se

[2022-02-20 01:20] secondl1ght commented on #73
Nice catch, I fixed this now.

[2022-02-20 01:20] #73 closed

[2022-02-20 01:49] secondl1ght commented on #69
I need Tiana or someone to send a new SVG for this image - it is currently much smaller than the other ones which is why it looks strange. All of them should be the same dimensions actually, even the others are slightly different.

[2022-02-20 01:51] secondl1ght commented on #17
Closing this because it looks like @bumi resolved the issue.

[2022-02-20 01:51] #17 closed

[2022-02-20 01:54] secondl1ght opened #78 "Update value4value page with new options"
There have been some new options to use Alby for Value4Value right? Do we have a list of all the options available? I saw some talk about GitHub and Reddit and others. We should add the new options to this page.

[2022-02-20 07:01] MoritzKa commented on #69
![Frame 9894](https://user-images.githubusercontent.com/13707997/154832243-38ac53d2-9e5a-4774-960c-591e2927edde.svg)
sent on Slack, too.

[2022-02-20 15:39] secondl1ght opened #79 "Unify header"
Currently we have a different header on every page of the website which sort of makes it feel like you are navigating to a new site every time. Should we have the same header across all pages to improve this?

[2022-02-20 15:44] secondl1ght commented on #69
Perfect thanks @MoritzKa!

One more thing - can you also send the mobile version of the SVG to match the others as well? That file also looks incorrect, there are 2 SVGs for each image size.

[2022-02-21 04:32] pavanjoshi914 commented on #77
@secondl1ght  can you check this , if its valid I can start working on it.

[2022-02-21 17:49] secondl1ght commented on #69
Fixed with latest commit

[2022-02-21 17:49] #69 closed

[2022-02-21 17:57] secondl1ght commented on #77
@pavanjoshi914 good catch, I can reproduce this. Yes I think if you want to start working on a fix for this you should go ahead! @bumi do you have any comments?

[2022-02-21 20:59] bumi commented on #77
thanks for reporting this.
Correct, it missed to initialize the lnurl-auth there. I've fixed this. can you test it again?

[2022-02-21 21:00] bumi commented on #79
which header are you exactly talking about? logo and navigation of the public (not logged-in) pages?

[2022-02-21 21:05] bumi commented on #78
yes, good point:

currently we have: https://github.com/getAlby/lightning-browser-extension/blob/master/src/extension/content-script/batteries/index.ts#L13-L20

Reddit is upcoming.
GitHub should also be added.

And I hope we soon also get Medium

[2022-02-21 21:07] bumi commented on #75
should we "zoom" with such big screens? having another response breakpoint and increase the font size for such screens?

[2022-02-21 21:38] bumi opened #80 "Unify InstallExtensionButton.jsx and InstallExtensionButtonPlain.jsx"
Those two components are very similar.
https://github.com/getAlby/website/pull/67#discussion_r805716514

[2022-02-21 23:04] secondl1ght commented on #79
Yes that's the one I am talking about, do you think it would be good to unify the header for all of the logged in and not logged in pages?

[2022-02-21 23:08] secondl1ght commented on #78
Who is making those thumbnail images, @MoritzKa would you be able to make new ones for the new options?

Once I have the thumbnails I could add the copy and sections to the website. We may want to reconsider the design for this at some point - if we start to have say like 10+ options then it might not make sense to scroll through all of them on the page?

[2022-02-22 01:29] secondl1ght commented on #80
This is on my to-do list

[2022-02-22 05:20] pavanjoshi914 commented on #77
Yeah its working fine now

[2022-02-22 05:20] #77 closed

[2022-02-22 13:12] bumi commented on #79
yes, that should be a reusable component. At least for all the static pages in this repo.
the dynamic part (the rails app) works differently, so that will not be unified.

[2022-02-22 13:14] bumi commented on #78
yes. it will not scale... it mostly is the same content but different websites.

[2022-02-22 13:32] bumi commented on #75
//cc @Tiana01

[2022-02-22 13:53] Tiana01 commented on #75
so there's a redesign coming for this page. This design wasn't made with the current style and all I guess that's why it's that way

[2022-02-22 13:56] Tiana01 commented on #75
From a design pov I think what you suggested would work but I believe you could also bring the logo and the other menu items closer so that the logo aligns with the left side of the text and the buttons align with the right.

[2022-02-22 16:19] RajVarsani commented on #75
Sure, Sounds good to me. I'll update that in the PR. We'll see how everything comes together.

[2022-02-24 14:21] MoritzKa commented on #78
Maybe @auwalrg8 can help.
Thumbnails for Twitter, YouTube, etc. are [here](https://www.figma.com/file/xEPJFGFdc3HD0JS1ax2IpH/Extension-(MVP)?node-id=3517%3A22615)

[2022-02-25 01:39] secondl1ght commented on #80
PR in #81

[2022-02-25 09:04] auwalrg8 commented on #78
Yes I will Design the thumbnails

[2022-02-25 19:04] secondl1ght commented on #78
Awesome thanks @auwalrg8 when those I ready I can create the new sections.

[2022-02-26 13:27] auwalrg8 commented on #78
Check out the design for the Reddit thumbnail.
I was wondering were to place the extension tab because it was hover over where the LN address supposed to be on the profile section. Let me know what you think.

https://www.figma.com/file/xEPJFGFdc3HD0JS1ax2IpH/Extension-(MVP)?node-id=3527%3A20319

[2022-02-28 11:21] #75 closed

[2022-02-28 23:01] secondl1ght opened #82 "Fix mobile landing page header"
![image](https://user-images.githubusercontent.com/85003930/156072722-beac15a0-676b-4297-a4dc-e559b09ad9e2.png)

I will fix this, just putting it here to track it. Thanks @moritzka for reporting.

[2022-03-01 13:37] bumi opened #83 "Do not load the font from Google"

[2022-03-02 21:48] #82 closed

[2022-03-02 21:48] secondl1ght commented on #80
Fixed so closing now

[2022-03-02 21:48] #80 closed

[2022-03-02 21:49] secondl1ght commented on #83
So we would like to include the font in the repo instead?

[2022-03-03 06:25] pavanjoshi914 opened #87 "contributors page to acknowledge contributors of the community"
Personally, I think, every open-source organization shall have an acknowledgement page on the website which appreciate existing contributors and motivates new contributors to join the community
e.g::
https://circuitverse.org/contribute

Having acknowledgement section on website will be great

[2022-03-03 07:54] MoritzKa commented on #87
I like that. Do you have an idea how we could acknowledge the work of existing contributors?
https://circuitverse.org/contribute only shows how to contribute.

[2022-03-03 07:58] pavanjoshi914 commented on #87
oops!  try this
https://circuitverse.org/about

[2022-03-03 08:15] MoritzKa commented on #87
thanks. We need that.
let's get a new version of the current landing page out first and add this page in another iteration asap.

[2022-03-03 08:17] pavanjoshi914 commented on #87
we can fetch GitHub profiles and show them on the website as shown above

1.  for coreteam members we can create data structure as follows and render it within the app::

for this, we fetch profile images in such a way https://avatars.githubusercontent.com/u/55848322?v=4  and for each image, we provide a link to the contributor's profile  https://github.com/pavanjoshi914 also we can store the name

[2022-03-04 09:56] bumi commented on #83
yes, I guess so.

[2022-03-04 19:20] secondl1ght opened #88 "Mobile bug fixes"
Amy reported some responsiveness issues in the Slack channel, I am posting them here and I will fix these issues this weekend.

![image](https://user-images.githubusercontent.com/85003930/156827842-56a45d74-1301-4cc7-88a3-455acf965dbd.png)
![image](https://user-images.githubusercontent.com/85003930/156827885-84481969-2b68-4b88-ba23-e434a182863b.png)

[2022-03-04 19:58] secondl1ght commented on #88
![image](https://user-images.githubusercontent.com/85003930/156832987-3c96a21c-efa8-450e-8342-8cea9f2d398c.png)

[2022-03-05 04:40] secondl1ght commented on #83
I tried downloading the font and pointing to it in the public folder but I am getting a 404 message, is there something else I have to do for the app to be able to see the file?

[2022-03-05 11:52] bumi opened #90 "Add examples to value4value page"
We should link the user to some examples where they can use the value4value tipping. e.g. certain youtube videos and twitter profiles

[2022-03-05 12:55] bumi commented on #83
I don't know. I would check how it is done with other files, check the exact paths used and google if there are special things to consider in remix.run.

[2022-03-05 16:01] #88 closed

[2022-03-05 16:07] secondl1ght commented on #87
This is a good idea, another example of a page like this is https://sparrowwallet.com/about/ where they also acknowledge people who donate to the project.

We could have a few sections like suggested, something like:

Core Contributors

Contributors

Bounty Hunters

Supporters

The bounty hunters section can highlight people who complete a bounty giving them more incentive to do so, and the suppor

[2022-03-05 16:08] secondl1ght commented on #90
Should we also link to the makers.bolt.fun site somewhere?

[2022-03-05 16:08] secondl1ght commented on #83
Ok I will look into this more.

[2022-03-05 16:10] secondl1ght opened #91 "Maybe we should also change the text of the download button mobile? If it is not available and we're on mobile we just say "available on desktop" or something like that?"
Maybe we should also change the text of the download button mobile? If it is not available and we're on mobile we just say "available on desktop" or something like that?

_Originally posted by @bumi in https://github.com/getAlby/website/issues/89#issuecomment-1059759637_

[2022-03-05 17:16] pavanjoshi914 commented on #87
I am not an expert in this but this is my opinion,

if we add the contributor's section along with the landing page's existing content it might get much longer than expected!

landing page can focus on product details only and a separate section for contributors page, which contains more about organization , about contributors and some statements motivating new contributors to join, and the things

[2022-03-06 18:10] #74 closed

[2022-03-06 18:11] bumi commented on #48
nice tool for this: https://metatags.io/

@secondl1ght do you want to check this?

[2022-03-06 20:32] secondl1ght commented on #48
On it!

[2022-03-07 06:43] secondl1ght commented on #48
2 PR's in for this https://github.com/getAlby/getalby.com/pull/84 and #93

[2022-03-08 05:48] secondl1ght commented on #87
@MoritzKa should we ask if Tiana can do a design for this?

[2022-03-08 12:56] MoritzKa commented on #87
Good idea.
@Tiana01 are you interested in designing an About page?
For example: https://circuitverse.org/about. Categories could be core team, contributors, supporters

[2022-03-08 13:04] pavanjoshi914 commented on #87
before designing starts we shall finalize the sections we are adding so that order of sections to be represented and the size of the section displayed on website can be considered as well in designing

[2022-03-08 13:26] MoritzKa commented on #87
I made a first suggestion above. Sections can be:
About: 2 sentence about Alby
Core team with photos
Contributors: GitHub profile photos
Supporters: Logos from donors.
Links/ Buttons to get in contact (email, Telegram) and to the GitHub repo would be useful, too.
Any other ideas?
I would leave it up to @Tiana01 to design the page. She has the know-how.

[2022-03-08 13:47] Tiana01 commented on #87
@MoritzKa Would love to but we currently don't have enough bandwidth to help you out with that

[2022-03-08 15:39] secondl1ght opened #94 "Make tweets section into carousel"
Putting in this issue to track this task, it is up for grabs if anyone wants to give it a try. Discussion on this happened in PR #92, basically we think it would look good to turn the tweets section into a carousel in the future but have included it the way it is for now.

[2022-03-10 15:48] MoritzKa opened #95 "Align sections to the left and right"
![image](https://user-images.githubusercontent.com/13707997/157699299-c8af00f4-459c-464a-a100-9d43692ead20.png)

[2022-03-10 15:52] MoritzKa opened #97 "reformat use case section"
![image](https://user-images.githubusercontent.com/13707997/157700074-5e22ee94-53d5-45a1-816e-18b7e782eeaa.png)

[2022-03-10 15:59] MoritzKa opened #99 "Change headline and button in footer"
use the same headline: "The Bitcoin Lightning App for your Browser" and button as in the header section.
![image](https://user-images.githubusercontent.com/13707997/157701161-1c38f970-e4fc-48b1-9636-46ac89f40578.png)

[2022-03-10 16:23] secondl1ght commented on #99
Updated

![image](https://user-images.githubusercontent.com/85003930/157708118-adf0f2a6-b27b-4691-ab86-00c041311fff.png)

[2022-03-10 16:25] secondl1ght commented on #48
Looks like we got the metatags working now, it is using the Alby head logo which I just chose randomly. Do you like how it looks or would you prefer a different image?

[2022-03-10 16:28] MoritzKa opened #100 "reduce size of Tweet section"
the Tweet section appears rather big and dominant on the website.
ways to solve it:
- remove the original Tweet in Retweets
- completely remove Retweets
- replace the section with a carousel of Tweets
- maybe reduce size of each Tweet? But that might render them non-readable...

[2022-03-10 16:51] MoritzKa opened #101 "Tweets are missing on Firefox and Edge Browser"
Tweets are not displayed on Firefox and Edge
![image](https://user-images.githubusercontent.com/13707997/157712923-b4ff3344-b1e9-410c-a734-d4a094b1c039.png)

[2022-03-10 16:54] bumi commented on #101
this is probably your ad blocker

[2022-03-10 16:55] bumi commented on #101
but maybe we can hide the "What People Are Saying" when the tweets are not loading because of an ad blocker (then it would not look like something is missing)

[2022-03-10 17:18] MoritzKa commented on #99
Thanks!

[2022-03-10 17:18] #99 closed

[2022-03-10 17:19] #97 closed

[2022-03-10 20:36] bumi commented on #101
I don't think it's worth doing now... too complicated for what value it brings.

but then maybe we can check the `renderError` on the tweet to hide the text or use the `onLoad` to show it.
https://github.com/andrewsuzuki/react-twitter-widgets#common-props

[2022-03-11 04:45] secondl1ght commented on #101
Great find @bumi, @MoritzKa I just put in a PR #102 to fix this, can you try it out and see if the tweets section no longer displays for you?

[2022-03-11 09:04] MoritzKa opened #103 "Rework illustration in the header section"
Based on user feedback: the header illustration on getalby.com might confuse visitors. They might Alby is a media player.
The illustration in https://getalby.com/value4value ist more informative.

[2022-03-11 09:07] MoritzKa opened #104 "Rethink "value for value" term"
Value for value or value4value is not a self explanatory term.
The info in the page doesn't really explain what it is, and it uses confusing terms for someone unfamiliar with these concepts (since we want the product to be accessible to everyone, not just advanced ones).
For example, a new user could ask
what contributions?
what audience?
what is value for value?

[2022-03-11 09:18] bumi commented on #104
the question is here: can value4value become a general accepted and known term and how we can explain it to users and push the adoption of that term.
It is getting more popular in certain areas (like for example podcasting). I don't think we need to rethink the term but rather keep on improving the general content and explanation.
Our content needs to speak to the needs/problems to the user and ho

[2022-03-11 09:27] bumi commented on #101
@MoritzKa can you confirm it's an ad blocker issue?

[2022-03-11 09:30] bumi commented on #48
we still have some issues there:
https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fgetalby.com

FB says:
[code]

the `og:image`  and others actually should have a special size that is good for sharing.

[2022-03-11 09:31] bumi commented on #48
it will become something like this:
<img width="764" alt="image" src="https://user-images.githubusercontent.com/318/157840395-8ca14a05-8fc1-4478-b1fb-6d35bf7a8016.png">

//cc @MoritzKa

[2022-03-11 09:46] MoritzKa commented on #101
sorry for the hassle. It is not due to an adblocker but likely due to a VPN.
I guess we can close this issue.

[2022-03-11 10:24] MoritzKa commented on #48
I like that the preview shows directly what you can do instead of the Alby icon only.

[2022-03-11 16:04] secondl1ght commented on #48
If someone can provide a perfect image for sharing we can add it in.

[2022-03-11 16:31] secondl1ght commented on #87
Update: @MoritzKa is working on a design for this and then I can implement

[2022-03-11 19:05] MoritzKa commented on #48
I can try to create one that fits. Do we know the size of the window so that it is completely visible?

[2022-03-11 22:29] #101 closed

[2022-03-13 10:51] bumi commented on #48
"Recommend 1200×628"

https://metatags.io/

let's put something up quickly it can always be easily changed.

[2022-03-13 11:56] MoritzKa commented on #48
adjusted the size and the picture (removed the send to 50) --> need to adjust the picture on getalby.com, too.
https://www.figma.com/file/xEPJFGFdc3HD0JS1ax2IpH/Extension-(MVP)?node-id=6020%3A31628
Con you try this one @secondl1ght ? I can also send it to you directly if you let me know the file type (svg, png,...)

[2022-03-13 12:31] bumi commented on #48
Inspiration from metamask:
<img width="612" alt="image" src="https://user-images.githubusercontent.com/318/158059393-8f076ac1-99cb-492d-87ab-d2385016658a.png">

maybe just what we have on the landing page:
<img width="926" alt="image" src="https://user-images.githubusercontent.com/318/158059440-f8b8a712-8624-4e2b-9040-8daab4fbe967.png">

I think the tag line is important - that's what people see.

[2022-03-13 15:11] MoritzKa commented on #48
a bit less wordy.
https://www.figma.com/file/xEPJFGFdc3HD0JS1ax2IpH/Extension-(MVP)?node-id=6023%3A31905
![Group 4553](https://user-images.githubusercontent.com/13707997/158066281-e7806dbd-7369-4355-b290-5246da478eb6.png)

[2022-03-13 18:43] secondl1ght commented on #48
There is something wrong when I try to export this - can you send to me as SVG?

[2022-03-13 18:46] secondl1ght commented on #48
New PR in with new image #105 let's see how this one looks.

[2022-03-14 07:46] MoritzKa commented on #48
svg sent via DM on Slack

[2022-03-14 13:31] secondl1ght commented on #48
Does opening this SVG on your desktop work for you? This is how it appears for me, seems something is broken with it?

![image](https://user-images.githubusercontent.com/85003930/158182173-88f3e5e9-5498-422d-9dbc-b1c36952118b.png)

[2022-03-14 13:35] secondl1ght commented on #48
Seems to work even though it is broken though.. I was using PNG format before. I'll put in a PR now and someone can confirm.

[2022-03-17 13:38] pavanjoshi914 opened #108 "content displacement on site load or reload"
https://user-images.githubusercontent.com/55848322/158820565-4e900ac9-3a72-4314-88c5-ae0380451294.mp4

[2022-03-17 13:43] pavanjoshi914 opened #109 "Rethink about landing page vertical length"
I think the landing page has much more vertical length than required!
this might decrease the interest of users to read every page by going downside. resulting in decreased visits for every page present downside making content native having no interaction with most of the users.

[2022-03-19 13:56] RajVarsani opened #110 "Improve Lighthouse stats"
Report :
[GETALBY_LIGHTHOUSE_REPORT.pdf](https://github.com/getAlby/website/files/8309309/GETALBY_LIGHTHOUSE_REPORT.pdf)

These were the network stats for hard reload:
![image](https://user-images.githubusercontent.com/74860406/159123684-ec2cf1b3-b632-4586-8722-b94ef508851b.png)

Typical reload with caching:
![image](https://user-images.githubusercontent.com/74860406/159123075-9fdb925f-8472-48a9-b

[2022-03-19 14:08] RajVarsani opened #111 "Weird behavior on larger screens."
- ####  The navbar moves closer to the center in larger screens.
   ![image](https://user-images.githubusercontent.com/74860406/159124078-aa4402f8-d62d-4757-b50f-384768ef5099.png)

-  #### Content and images are at different ends. Center alignment would make a better user experience, I suppose.
   ![image](https://user-images.githubusercontent.com/74860406/159124139-589244c7-b334-4aa9-aea9-7a41e8a

[2022-03-20 06:06] pavanjoshi914 commented on #108
@secondl1ght

[2022-03-20 06:14] pavanjoshi914 commented on #109
@MoritzKa

[2022-03-20 06:14] pavanjoshi914 commented on #111
no responsiveness at all 😢

[2022-03-20 06:16] secondl1ght commented on #108
Yes this happens because those buttons are checking to see if you have a compatible browser before displaying, and the button changes depending on the response.

[2022-03-21 15:08] reneaaron commented on #78
I'll try to summarize what I could find out comparing code & designs.

**Site** | **Supported by Alby** | **Integrated into Value4Value design** | **Comment**
-- | -- | -- | --
Github | ✅ | ❌ | Only supports .lnaddress in your personal repo right now
Peertube | ✅ | ✅ | bitcointv.com bitcast.online
Podcastindex | ✅ | ❌ |  
Reddit | ✅ | ✅ |  
Twitter | ✅ | ✅ |  
Vimeo | ✅ | ❌ |  
Youtube | ✅ | ✅ | C

[2022-03-21 18:54] secondl1ght commented on #78
Awesome chart @reneaaron, can we get the assets for all of these? We might also want to rethink the overall design of the Value4Value page now that we have so many options. It might not be good UX to scroll through so many option vertically.

[2022-03-21 19:50] MoritzKa opened #112 "Adjust header on https://getalby.com/lightning-address"
change: The simplest way of anyone to send you bitcoin instantly on the Lightning Network
to: The simplest way to receive bitcoin instantly on the Lightning Network.

[2022-03-21 20:43] secondl1ght opened #113 "Small detail: bitcoin capitalization"
This is a small detail but some areas we use bitcoin with a capital B and other areas we use it with a lowecase b. Should we choose one and stick with it? I've seen lowercase bitcoin become more adopted over time than Bitcoin.

[2022-03-21 21:27] secondl1ght commented on #112
Updated

[2022-03-21 21:27] #112 closed

[2022-03-22 00:57] escapedcat commented on #113
+1 for choosing one and sticking with it.
When decision is made this might be a "good first issue".

[2022-03-23 19:10] bumi commented on #78
@reneaaron thanks for the overview!
Podcastindex is there but not fully supported right now. main issue there is now that most podcast have more than one recipient but we currently only allow once recipient. We need to think about the UX there.

[2022-03-29 13:30] bumi commented on #110
thanks for raising this. this is not acceptable and must be fixed asap. our tiny website must also be tiny in terms of KB.
Everyone must check that images are small (I guess those images should be way below 500kb). I should have caught that in the review.

@RajVarsani do you know if we can add a CI check for this?

[2022-03-31 22:00] #110 closed

[2022-03-31 22:11] bumi opened #117 "Reduce data size of embedded tweets"
It seems the embeded tweets take a few MB of data. Can we somehow make this smaller?
I think such a small website should not require some MB of data to be transferred.

[2022-04-01 13:00] reneaaron commented on #78
I just updated the table.
 - Added comment from @bumi about PeerTube
 - GitHub Repository support has been implemented, but never was used.
 - GitHub profile support is coming with. https://github.com/getAlby/lightning-browser-extension/issues/766

[2022-04-04 16:46] MoritzKa opened #119 "Add our Blog link to the header on getalby.com"
our blog is a great chance to educate visitors about Alby. Therefore, we could place a link to it in the header.

[2022-04-19 14:28] MoritzKa opened #120 "Launch own blog page"
Let's setup an own blog and host it on our domain.
An own blog is beneficial for SEO and allows us to create an "Alby in the media" category
E.g. with https://ghost.org/docs/

[2022-04-22 12:00] MoritzKa opened #121 "Have same header and footer on getalby.com/demo"
If people are looking for additional information about Alby when they visit getalby.com/demo they cannot navigate somewhere directly via links.
Let's add the same header and footer as on getalby.com

[2022-05-06 07:48] pooniajay opened #124 "Migrate blog from Substack to Ghost"
Further to this issue (https://github.com/getAlby/website/issues/120) here is the documentation of how to migrate substack subscribers and content from substack to ghost. https://ghost.org/docs/migration/substack/

[2022-05-07 12:47] MoritzKa commented on #124
exported and imported all drafts and published articles. If it worked you can close that issue.
We need to check the editing and blog post specific settings: tags, metadata and facebook/Twitter cards.

[2022-05-08 20:16] bumi opened #125 "Add cache headers"
How can we enable cache-control headers and cache the page on Cloudflare?

https://github.com/getAlby/website/commit/b949a29b6bd247d679502eb2f5bb4927fae59824

I had it enabled but it seems some JS files have not been found in the cached version and the Install button is not shown - the install button is done on the client.

when does remix generate the client JS? what do we need to know to enable

[2022-05-09 09:47] dylancom commented on #125
The client JS is generated upon building the app for production:
[code]

After that it can be served:
[code]

There is currently an error message to the install button though. Not sure if this is related...
(ClientOnly expects a function but gets a component directly)
Should be:
`return <ClientOnly>{() => <Install style={style} />}</ClientOnly>;`

[2022-05-10 14:58] MoritzKa opened #128 "Implement same header from getalby.com on blog.getalby.com"
Let's have a concise online appearance with the same header on all of our online offerings i.e. on blog.getalby.com

- Information about how to customize the template on our Ghost blog:
  https://ghost.org/docs/themes/custom-settings/
- Instructions:
  https://www.mindspun.com/blog/theming-your-ghost-site/
- Theme can be down- and uploaded here:
  https://alby.ghost.io/ghost/#/settings/design/chan

[2022-05-13 12:31] MoritzKa opened #129 "Replace hyperlinks of our blog"
We currently link to https://getalby.substack.com/ from the "Blog" link in the footer of getalby.com. (if we have a "Blog" link also in the header Issue #119 then we also have to replace the link there.
Our new blog is here: https://blog.getalby.com/

[2022-05-13 13:25] secondl1ght commented on #129
PR is in here: https://github.com/getAlby/website/pull/123

[2022-05-13 13:26] secondl1ght commented on #119
PR is in here: https://github.com/getAlby/website/pull/123

[2022-05-14 09:46] escapedcat commented on #121
Has been merged

[2022-05-14 09:46] #121 closed

[2022-05-17 15:42] bumi opened #130 "Fix logo placement"
this looks better on the v4v page. - can those be unified?

<img width="1271" alt="image" src="https://user-images.githubusercontent.com/318/168852572-d9aed41a-1be7-4d8e-b04a-842952938256.png">

[2022-05-18 03:05] secondl1ght commented on #130
PR is in #131

[2022-05-21 03:25] secondl1ght commented on #79
PR in here https://github.com/getAlby/website/pull/132 and here https://github.com/getAlby/getalby.com/pull/136

[2022-05-25 10:48] pooniajay opened #134 "Create Alby in the Media footer and link to blogpost"
Create a footer item 'Alby in the Media' and connect it to the blogpost - https://blog.getalby.com/alby-in-the-media/

[2022-05-25 14:11] secondl1ght commented on #124
Great catch @pooniajay, I am putting in a PR for this now.

[2022-06-02 23:07] #130 closed

[2022-06-02 23:07] #119 closed

[2022-06-08 07:12] MoritzKa opened #137 "Add newsletter signup to the footer"
We are going to have several websites (e.g. the main landing page, and the blog) To make sure users have the chance to subsribe to the newsletter on every page we can add the sign-up form to the footer and remove the current sign up section completely.

Design proposal
![image](https://user-images.githubusercontent.com/13707997/172554337-f481e1fc-4252-4ff3-85f1-b8375af763c3.png)
[Figma file](https

[2022-06-08 07:14] MoritzKa commented on #137
@dvoroneca can you have a look at it and see if it makes sense from a UI and UX perspective?

[2022-06-08 08:22] dvoroneca commented on #137
@MoritzKa I think it is a nice touch. I've switched places for social media and email subscription form so it doesn't change spacing when the email subscription form changes its state.

<img width="470" alt="Screenshot 2022-06-08 at 10 15 40" src="https://user-images.githubusercontent.com/35034985/172567268-27b10ea3-a4c4-46f4-8698-5c35133c01c0.png">

Also, we don't have a component with a button i

[2022-06-08 08:56] MoritzKa commented on #137
Thanks for creating these different states. Switching places with social media links and re-using existing components makes sense.
One concern that I have is the low contrast of the sign up field compared to the yellow background. Does it catch the visitors attention well enough?

[2022-06-08 09:39] dvoroneca commented on #137
I think if the user has an intention to subscribe,  he will notice the form. Adding a white field would definitely take away the attention from all the other components on the screen.

[2022-06-08 13:56] secondl1ght commented on #137
Great work @MoritzKa @dvoroneca, I am starting to work on this now.

[2022-06-08 14:15] pooniajay commented on #137
good work guys, just attempting to resolve the "subscription/sign-up" and "Alby Buzz/Newsletter" copy

[2022-06-09 23:31] secondl1ght commented on #137
PR has been merged

[2022-06-09 23:31] #137 closed

[2022-06-09 23:31] #129 closed

[2022-06-09 23:32] secondl1ght commented on #124
Can this be closed now?

[2022-06-10 05:20] #124 closed

[2022-06-19 15:03] secondl1ght commented on #134
@MoritzKa can you give this an ACK before I do it?

[2022-06-19 15:03] secondl1ght commented on #128
This is now complete.

[2022-06-19 15:03] #128 closed

[2022-06-19 17:11] MoritzKa commented on #134
Let´s think about what are the most important items in the footer before we implement it.
E.g. we could also add "Media" that links to our media assets.

[2022-06-19 23:58] secondl1ght commented on #134
We actually already have a Media link, here is a screenshot so we can see everything we currently have in the footer:

![image](https://user-images.githubusercontent.com/85003930/174505196-cd7a025e-73cf-4d2f-b975-d6577577e5c6.png)

[2022-06-30 20:04] reneaaron commented on #78
I just updated the table. Let me know if I missed anything!

**Site** | **Supported by Alby** | **Integrated into Value4Value design** | **Comment**
-- | -- | -- | --
Github | ✅ | ✅ |
Peertube | ✅ | ✅ | bitcointv.com bitcast.online
Podcastindex | ✅ | ❌ | [Limited support](https://github.com/getAlby/website/issues/78#issuecomment-1076723013)
Reddit | ✅ | ✅ |
Twitter | ✅ | ✅ |
Vimeo | ✅ | ❌ |
Youtub

[2022-07-01 20:47] secondl1ght commented on #78
Should I update the page to match the updated design or should we wait until the re-design is complete?

[2022-07-12 23:10] bumi opened #140 "Add alby:image metatag"
Add an metatag property="alby:image" with a nice, good quality Alby icon.

Right now it uses the icon (https://github.com/getAlby/lightning-browser-extension/blob/master/src/extension/content-script/originData.ts#L605) which has a bad quality

[2022-07-21 04:28] secondl1ght opened #142 "Update V4V page with new meta tag info"
This section needs to be updated with `alby:image`:

![image](https://user-images.githubusercontent.com/85003930/180129919-403ac71d-8453-4982-8d46-8cfc0e669d71.png)

@MoritzKa if you can do the Figma file I can do the code portion.

[2022-08-05 20:46] secondl1ght commented on #140
I just put in a PR for this - it was still showing the old image locally though, does Alby cache the images for this?

[2022-09-19 08:13] dvoroneca opened #144 "Redesign Home Page"
As a part of the Website redesign milestone, the Home redesign should have a Clear CTA to download the extension and further exploration of options for developers and content creators.

Steps for this page:

- [ ] Content
- [ ] Hero image

![www getalby com](https://user-images.githubusercontent.com/35034985/190975603-2e8a7a09-d275-49fd-ba70-ff66d74ad90a.png)

[2022-09-19 08:16] dvoroneca opened #145 "User page redesign"
As a part of the Website redesign milestone, the User page should have a Clear CTA to download the extension and benefits and use cases.

Things to finish:

- [x] Content
- [x] Hero image

![users](https://user-images.githubusercontent.com/35034985/190976074-635ac32f-f37e-4b0d-8320-223ba093a7ea.png)

[2022-09-19 08:17] dvoroneca opened #146 "Developer page redesign"
As a part of the Website redesign milestone, the Developer's page should have a Clear CTA to Start building and directions to the documentation.

Things to finish:

- [x] Content

- [ ]  Hero image

![developers](https://user-images.githubusercontent.com/35034985/190976452-f7d5487c-6b0d-4e95-b598-3772274d0345.png)

[2022-09-21 19:26] dvoroneca commented on #145
## [Figma File](https://www.figma.com/file/XTK29vN4SgSZXzAE242y2l/Website-redesign?node-id=264%3A3794)
![User](https://user-images.githubusercontent.com/35034985/191592952-d311886e-f584-4e68-bf71-c8727e1c6419.png)

[2022-09-21 19:30] dvoroneca commented on #144
## [Figma File](https://www.figma.com/file/XTK29vN4SgSZXzAE242y2l/Website-redesign?node-id=279%3A4613)

![Home](https://user-images.githubusercontent.com/35034985/191593681-3e1b4975-8b58-41e1-840a-c43b2f4f9c89.png)

[2022-10-03 08:01] dvoroneca commented on #146
Check out the "Developers" page [here](https://www.figma.com/file/XTK29vN4SgSZXzAE242y2l/Website-redesign?node-id=353%3A5761)

[2022-10-03 08:01] #146 closed

[2022-10-03 10:02] MoritzKa commented on #144
can we close when you did the handover to the developer?

[2022-10-03 12:44] reneaaron commented on #78
Updated the list:

**Site** | **Supported by Alby** | **Integrated into Value4Value design** | **Comment**
-- | -- | -- | --
Geyser | ✅ | ❌ |
Github | ✅ | ✅ |
LinkTree | ✅ | ❌ |
Medium | ✅ | ❌ |
Mixcloud | ✅ | ❌ |
Peertube | ✅ | ✅ | bitcointv.com bitcast.online
Reddit | ✅ | ❌ |
SoundCloud | ✅ | ❌ |
StackOverflow | ✅ | ❌ |
Twitter | ✅ | ✅ |
Vida | ✅ | ❌ |
Vimeo | ✅ | ❌ |
SoundCloud | ✅ | ❌ |
Own we

[2022-10-05 09:34] #83 closed

[2022-10-06 07:19] rottingcleaner commented on #78
Made a decision? It would by nice to communicate all options which Alby supports for now. GitHub is my fav.

[2022-10-07 19:00] VaibhavArora19 commented on #113
I can take this up.

[2022-10-09 05:59] escapedcat commented on #113
Officially it's "Bitcoin" I guess, shoudl we use that everywhere? @reneaaron @MoritzKa ?

[2022-10-09 12:45] rottingcleaner commented on #62
"Guides" with a link to https://guides.getalby.com/overall-guide/
Next helpful stop for Alby users.
![Screenshot 2022-10-09 at 14 43 42 1 (1)](https://user-images.githubusercontent.com/114179325/194757563-8efc8a2d-4d6f-4df8-8c89-25e6f2c6c11e.png)

[2022-10-09 15:39] MoritzKa commented on #113
Let´s follow the Bitcoin Design Guide: [Adopt lower case b for bitcoin](https://github.com/BitcoinDesign/Guide/issues/635)

[2022-10-17 16:05] dvoroneca opened #149 "Getalby.com website UI issues."
## There are inconsistencies with our website design.

- [ ] The header font should be bold

- [ ] the gap between “The Bitcoin Lightning App for your Browser” and the subheader “Alby brings Bitcoin payments..” should be 16p.

- [ ] And the header should stick to the top when resizing.

*the yellow field above the fold is fine, it's just the screenshot soft added some extra yellow field. ignore it

[2022-10-17 16:17] #149 closed

[2022-11-07 15:05] MoritzKa opened #154 "Change newsletter signup form"
from
![image](https://user-images.githubusercontent.com/13707997/200343312-47268751-da81-45a5-9a92-4f7d59422737.png)
to
Sign up for our newsletter "Alby Buzz"

[2022-11-07 17:50] #154 closed

[2022-11-14 12:02] #145 closed

[2022-11-14 12:03] #144 closed

[2022-11-28 22:02] jakubszwedo opened #157 "Fix auto redirect from login to new_with_lnurl"
Hey, first issue for Alby, I hope this is a good place.

While entering https://getalby.com/login I have a strange overlay on the UI, and after 1 second it redirects me to https://getalby.com/user/new_with_lnurl

You can see the recording [HERE](https://youtu.be/P25lnp8O3WI)

<img width="837" alt="Screenshot 2022-11-28 at 22 57 15" src="https://user-images.githubusercontent.com/68239231/204389509-

[2022-11-28 23:02] bumi commented on #157
It's a tricky one actually with some variables.

We wanted people with the Alby extension to be automatically logged in to getalby.com. So when you visit getalby.com/login and have Alby (or rather a browser with webln that supports lnurl) then we automatically initiate the lnurl flow.

Now you have probably logged into Alby before but you now have selected a different, non-Alby account. So getalby